<div class="page-header marskal-generator">
  <%%= link_to @<%= singular_table_name %>, class: 'btn btn-show' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <%% end %>
  <h1>Editing <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
